extends layout

block extraHeader
	link(rel='stylesheet', href='/stylesheets/search.css')

block extraScript  
	script(src="/javascripts/search.js")

block content
	div.container
		div#titleContent
			a#mainTitle
				h1= title
		div#mainContent
			div#searchBarDiv
				div#searchBarAndButtons.input-group.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
					span.input-group-btn
						button.searchBarButton.searchButton#searchTermButton.btn(type='submit')
							span.searchIcon.glyphicon.glyphicon-search
							br
							span Term
					input#search-query.form-control(type='text', placeholder='Search by term or theme', autocomplete='off', spellcheck='false') 
					span.input-group-btn
						button.searchBarButton.searchButton#searchThemeButton.btn(type='submit')
							span.searchIcon.glyphicon.glyphicon-search
							br
							span Theme
			if (searchResultsToRender)
				div#searchResultsDiv
					if (numTotalTweets > 0)
						h2 #{searchInput} 
						h4 #{type} search - #{numTotalTweets} results
						if (type == "theme")
							h5 Related Terms: #{topRelatedTerms}
						if (tweets.length > 0)
							div#tweets.row
								each tweet in tweets
										div#tweetContainer.col-md-6
											div.tweet.panel.panel-default
												div.tweetContent.panel-body
													div.tweetUserDiv
														p.tweetUser= '@' + tweetUser
													div.tweetTextDiv
														p.tweetText= tweetText
													hr
													div.tweetFooter.row
														div.tweetPlaceDiv.col-sm-6
															p.tweetPlace= tweetPlace
														div.tweetTimeDiv.col-sm-6
															p.tweetTime= tweetTime
							if (prevTweetsAvaialable || nextTweetsAvailable)
								div.paginationButtonsDiv.row
									if (prevTweetsAvaialable)
										div.paginationButtonDiv.col-xs-6
											button#prevButton.paginationButton.searchButton.textCenter.btn
												span.paginationButtonIcon.glyphicon.glyphicon-menu-left
												span.paginationButtonText Previous
									if (nextTweetsAvailable)
										div.paginationButtonDiv.col-xs-6
											button#nextButton.paginationButton.searchButton.textCenter.btn
												span.paginationButtonText Next
												span.paginationButtonIcon.glyphicon.glyphicon-menu-right
					else
						h4 No Tweets match this #{type}